@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  line-height: 2;
  font-size: 16px;
  color: rgb(0, 0, 0);
  padding: 0.5rem 2rem 2rem;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
}
.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.box {
  display: inline-block;
}
.crm {
  display: flex;
  justify-content: center;
}
.input {
  display: block;
  background-color: rgb(117, 173, 166);
  padding: 1rem 0.4rem;
  border-radius: 1.5rem;
  margin: 0.8rem 1rem;
  color: rgb(5, 59, 1);
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.btn {
  padding: 1rem 7.1rem;
  margin: 0.8rem 1rem;
  background-color: #1d6e5e;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
#cash-div {
  display: none;
}
.returnChange {
  display: none;
}
h1,
h3 {
  margin: 1rem 1rem;
  color: rgb(118, 194, 124);
  text-align: center;
}

.inline-list li {
  display: inline;
  margin: 0 1rem;
}
a {
  text-decoration: none;
  color: rgb(3, 170, 236);
}
table {
  border-spacing: 0;
  width: 500px;
  margin: 30px;
}
.styled-table {
  /* border-collapse: collapse; */
  margin: 2rem 1rem;
  font-size: large;
  font-weight: 300;
  border: 1px solid #cccccc;
  min-width: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 10px 20px;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #017a62;
  color: white;
}
.message {
  padding: 2.6rem 1.5rem;
  margin: 0.8rem 1rem;
  color: red;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
#footer {
  display: flex;
  padding: 2rem;
  justify-content: space-around;
  background: #ffffff;
  border-radius: 4rem;
}
